* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    font-weight: bold;
}

.contact-btn {
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 5px;
}

#hero {
    position: relative;
    background: url('https://cdn.b12.io/media/39580282-3cb4-11e8-bbb9-0242ac11000f-jpg-hero_image.jpeg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Dark overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust this opacity value for more/less darkness */
    z-index: 1;
}

.hero-content {

    z-index: 2;
}
.hero-content h2 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.about {
    height: 60vh;
    text-align: center;
    align-items: center;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
