<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calorie Crush</title>
    <link rel="stylesheet" href="static/base.css" />
    <link rel="stylesheet" href="static/index.css" />
  </head>
  <body>
    <header>
      <div class="container bebas">
        <div class="logo bebas">
          <h1 style="font-size: 30px">CALORIE CRUSH</h1>
        </div>
        <nav>
          <ul>
            <li class="raleway"><a href="/">Home</a></li>
            <li class="raleway">
              <a href="/fitness-plan-page">Fitness Plan</a>
            </li>
            <li class="raleway"><a href="/diet-plan-page">Diet Plan</a></li>
            <li class="raleway"><a href="/community-page">Community</a></li>
            <li class="raleway"><a href="/progress-page">Progress</a></li>
            <li class="raleway login-btn"><a href="/login-page">Log In</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="hero">
      <div class="overlay"></div>
      <div class="hero-content raleway">
        <h2>Calorie Crush</h2>
        <p style="margin-top: 0px; margin-bottom: 50px">
          A results-driven app dedicated to helping people achieve their fitness
          goals
        </p>
        <a href="#services" class="btn">View Features</a>
      </div>
    </section>
    <section id="about">
      <div class="about raleway">
        <div class="about-text">
          <p style="font-size: smaller; color: #28a745">
            <b>YOUR FITNESS JOURNEY</b>
          </p>
          <h3>Personalised Plans for Everyone</h3>
          <p>
            Calorie Crush empowers you to take control of your health. Discover
            personalized fitness routines and tailored diet plans that adapt to
            your unique lifestyle. Our app harnesses the power of AI and machine
            learning, continuously evolving to meet your needs. Join a
            supportive community where you can share your goals, celebrate
            achievements, and stay motivated every step of the way!
          </p>
        </div>
        <div class="about-image">
          <img src="/static/barbell.jpg" alt="Barbell" />
        </div>
      </div>
      <div class="feature-summary">
        <h4>Diet Maker</h4>
        <p>
          Create your custom diet plan tailored to your preferences and fitness
          goals.
        </p>
        <a href="diet-maker.html" class="btn">Learn More</a>

        <h4>Exercise Plan Maker</h4>
        <p>
          Build workout routines with animated exercises that guide you through
          every move.
        </p>
        <a href="exercise-plan.html" class="btn">Learn More</a>
      </div>
    </section>
    <section id="contact">
      <div class="contact">
        <form>
          <p style="font-size: smaller; color: #28a745"><b>GET IN TOUCH</b></p>
          <h3>We're here to help!</h3>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Your Name"
            required
          />
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Your Email Address"
            required
          />
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6" required></textarea>
          <input type="submit" value="Send" />
        </form>
      </div>
    </section>
    <footer class="raleway">
      <div class="containter">
        <p>2024 Calorie Crush. Created with ❤️ by Abhimanyu and Suyash.</p>
        <p>
          For any inquires, feel free to
          <a style="color: white" href="#contact">contact us</a>
        </p>
      </div>
    </footer>
  </body>
</html>
